@import './base/fonts';
@import './utils/breakpoints';
@import './utils/variables';
@import './utils/visually-hidden';
@import '../../node_modules/modern-normalize/modern-normalize.css';
@import './base/base';

@import './components/container';
@import './components/header';
@import './components/toggle-switcher-theme';



@import './components/news-card.scss';
@import './components/read-page';
@import './components/categories';

@import './components/pagination';
@import './components/news-card.scss';

@import './components/weather.scss';

@import'./components/dark-theme-style';
@import './components/weather';

@import './components/datepicker';
@import './components/search-form';

@import './components/btn-scroll';

@import './components/page-empty';
@import './components/formModal';