$font-main: 'Manrope', sans-serif;
$font-switchers: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color-accent: #4440f6;
$color-black-primary: #111321;
$color-white-primary: #ffffff;
$color-white-secondary: #f4f4f4;
$color-gray-primary: #a8a8a8;

$color-switches: #4b48db;

$bg-color-white: #f4f4f4;
$bg-color-dark-site: #2e2e2e;
