$font-main: 'Manrope', sans-serif;
$font-switchers: 'Poppins', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color-accent: #4440F6;
$color-black-primary: #111321;
$color-white-primary: #FFFFFF;
$color-white-secondary: #F4F4F4;
$color-gray-primary: #A8A8A8;

$color-switches: #4B48DB;

$bg-color-white: #F4F4F4;
$bg-colo-dark-site: #2E2E2E;


