<div class="container">
  <div class="categories__buttons">
    <button class="categories__button">Admin</button>
    <button class="categories__button">Arts</button>
    <button class="categories__button">Automobiles</button>
    <button class="categories__button">Books</button>
    <button class="categories__button">Briefing</button>
    <button class="categories__button">Business</button>
    <div class="categories__dropdown is-active">
      <div class="categories__dropdown-header">
        <button class="categories__dropdown-button" id="dropdown-btn">
          <svg class="categories__dropdown-icon" width="16" height="12">
            <use href="#"></use>
          </svg>
        </button>
      </div>
      <div class="categories__dropdown-content"></div>
    </div>
  </div>
</div>
