<div class="container">
  <div class="categories__buttons">
    <button class="categories__button">Admin</button>
    <button class="categories__button">Arts</button>
    <button class="categories__button">Automobiles</button>
    <button class="categories__button">Books</button>
    <button class="categories__button">Briefing</button>
    <button class="categories__button">Business</button>
    <div class="categories__dropdown">
      <div class="categories__dropdown-header">
        <button class="categories__dropdown-button" ><span id="dropdown-span"></span>
          <svg class="categories__dropdown-icon" width="8" height="14">
            <use href="./images/icons/icons.svg#icon-vector-down"></use>
          </svg>
        </button>
      </div>
      <div class="categories__dropdown-content"></div>
    </div>
  </div>
</div>
