
<div class="form__overlay">
	<form class="form">
	  <span class="form__close">&times;</span>
	  <h1 class="form__title">Fill in the login form</h1>

	  <div class="form__group">
		<input class="form__input form__input--email" placeholder=" " />
		<label class="form__lable">Email</label>
	  </div>

	  <div class="form__group">
		<input class="form__input form__input--password" placeholder=" " />
		<label class="form__lable">Password</label>
	  </div>

	  <div class="form__message">

	  </div>

	  <div class="form__button-wrapper">
		<button class="form__button form__button--logIn">Log in</button>
		<button class="form__button form__button--register">Register</button>
		<button class="form__button form__button--logOut">Log out</button>
	  </div>
	</form>
  </div>