<header class="header">
  <div class="container">
    <div class="header__container">
      <a class="logo link" href="./index.html">News</a>
      <button
        class="button-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg width="24" height="24">
          <use href="./images/icons/icons.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="loginBtn loginBtn__position">Log In</button>
      <!-- SEARCH BAR -->
      <form class="search-box active">
        <input
          class="search__input"
          name="mySearch"
          type="text"
          placeholder="Search"
          id="mySearch"
        />
        <button class="search-box__icon fetch" name="btn-fetch">
          <svg class="search-box__icon-svg" width="20" height="20">
            <use href="/src/images/icons/icons.svg#icon-search"></use>
          </svg>
        </button>
        <button
          class="btn-search visually-hidden"
          type="button"
          name="btn-search"
        >
          <svg class="search-box__icon-svg-2" width="20" height="20">
            <use href="/src/images/icons/icons.svg#icon-search"></use>
          </svg>
        </button>
      </form>

      <div class="navbar__items">
        <nav class="navigation-menu">
          <ul class="navigation-menu__list">
            <li class="navigation-menu__item">
              <a class="navigation-menu__link" href="./index.html">Home</a>
            </li>
            <li class="navigation-menu__item">
              <a class="navigation-menu__link" href="./favorite.html"
                >Favorite</a
              >
            </li>
            <li class="navigation-menu__item">
              <a class="navigation-menu__link current__page" href="./read.html"
                >Read</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="toggle__wrapper toggle__wrapper--right">
        <span class="theme__text theme__text--light icon__sun">Light</span>
        <svg class="icon-theme icon__sun" width="21" height="21">
          <use href="./images/icons/icons.svg#icon-sun"></use>
        </svg>
        <div class="nav__toggle toggle"></div>
        <span class="theme__text theme__text--dark icon__moon">Dark</span>
        <svg class="icon-theme icon__moon" width="21" height="21">
          <use href="./images/icons/icons.svg#icon-moon"></use>
        </svg>
      </div>
    </div>
  </div>
</header>
<div
  class="mobile-container js-menu-container visually-hidden"
  id="mobile-menu"
>
  <div class="mobile-container__wrap">
    <div class="top-wrapper">
      <a class="logo link" href="./index.html">News</a>
      <button class="button-close js-close-menu">
        <svg width="24" height="24">
          <use href="./images/icons/icons.svg#icon-close_menu"></use>
        </svg>
      </button>
    </div>

    <ul class="mobile-menu__list">
      <a class="mobile-menu__link" href="./index.html">
        <li class="mobile-menu__item">
          <svg class="menu-container__icon" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-home"></use>
          </svg>
        </li>
        Home
      </a>
      <a class="mobile-menu__link" href="./favorite.html">
        <li class="mobile-menu__item">
          <svg class="menu-container__icon" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-favorite-mob"></use>
          </svg>
        </li>
        Favorite
      </a>
      <a class="mobile-menu__link current__page--mob" href="./read.html">
        <li class="mobile-menu__item">
          <svg class="menu-container__icon" width="32" height="32">
            <use href="./images/icons/icons.svg#icon-read"></use>
          </svg>
        </li>
        Read
        <svg class="current-page__icon" width="24" height="24">
          <use href="./images/icons/icons.svg#icon-arrow-right"></use>
        </svg>
      </a>
    </ul>
    <div class="toggle__wrapper toggle__wrapper--bottom">
      <svg class="icon-active_theme icon__sun" width="21" height="21">
        <use href="./images/icons/icons.svg#icon-sun"></use>
      </svg>
      <div class="mob__toggle toggle"></div>
      <svg class="icon-active_theme icon__moon" width="21" height="21">
        <use href="./images/icons/icons.svg#icon-moon"></use>
      </svg>
    </div>
  </div>
</div>
