<div class="container">
  <span class="calendar">
    <input type="text" id="datepicker" />
    <svg class="callend-off" width="18" height="18">
      <use href="./images/icons/icons.svg#callend-off"></use>
    </svg>
    <svg class="callend-on" width="18" height="18">
      <use href="./images/icons/icons.svg#callend-on"></use>
    </svg>
    <svg class="arrow-down" width="15" height="9">
      <use href="./images/icons/icons.svg#arrow-down"></use>
    </svg>
    <svg class="arrow-up" width="15" height="9">
      <use href="./images/icons/icons.svg#arrow-up"></use>
    </svg>
    <input type="hidden" id="hidden-picker" />
  </span>
  <div id="weather"></div>
  <button class="fetch">Fetch</button>
  <div class="news-card"></div>
</div>
