<div class="pagination">
  <div class="container">
    <div class="pagination__pages">
      <div class="pagination__arrow arrow_left">&#10094;<span class="pagination__name">Prew</span></div>
      <div class="pagination__numbers current" id="pagination">1</div>
      <div class="paginator__dots" id="dots_left">...</div>
      <div class="pagination__numbers" id="pagination">4</div>
      <div class="pagination__numbers" id="pagination">5</div>
      <div class="pagination__numbers" id="pagination">6</div>
      <div class="paginator__dots" id="dots_right">...</div>
      <div class="pagination__numbers" id="pagination">20</div>
      <div class="pagination__arrow arrow_right"><span class="pagination__name">Next</span>&#10095;</div>
    </div>
  </div>
</div>