/<div class="pagination">
  <div class="container">
    <div class="tableList"></div>
    <div class="pagination__pages">
      <button class="first-page" disabled></button>
      <button class="prev-page" disabled></button>
      <div id="pagination"></div>
      <button class="next-page"></button>
      <button class="last-page"></button>
    </div>
  </div>
</div>



<!-- <div class="pagination__arrow arrow-prew">&#10094;<span class="pagination__name prev-page">Prew</span>
</div> -->
<!-- <div class="pagination__numbers current" id="pagination">1</div> -->
<!-- <div class="pagination__numbers" id="pagination">2</div>
<div class="pagination__arrow arrow-next"><span class="pagination__name next-page">Next</span>&#10095;</div> -->