<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <link rel="stylesheet" href="./sass/components/_search-form.scss" />
</head>

<body>
    <div class="search-box">
        <span class="search-box__icon">
            <svg class="search-box__icon-svg" width="106" height="60">
                <use href="/src/images/icons/icons.svg#icon-search">
                </use>
        </span>
        <input type="search-input" placeholder="Search |" id="mySearch">
        <span class="close-icon"></span>
    </div>

    <script type="module" src="/src/js/search-form.js"></script>
</body>

</html>