<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read</title>
    <link rel="stylesheet" href="./sass/index.scss" />
    <link rel="stylesheet" href="/src/sass/components/_search.scss" />
</head>

<body>
    <div class="search">
        <input type="search__text" placeholder="Search..." />
        <span class="search__icon__box">
            <svg class="search__icon" width="106" height="60">
                <use href="/src/images/icons/icons.svg#icon-search">
                </use>
        </span>
        <i class="uil uil-times close-icon"></i>
    </div>
</body>

</html>