.btn-scroll {
    z-index: 100;
    position: fixed;
    bottom: 75px;
        right: 30px;;
    width: 75px;
    height: 75px;

    background-color: $color-accent;
    border: 1px solid white;
    border-radius: 50%;

    color: white;

    @media screen and (min-width: $tablet-less) {
        bottom: 90px;
        right:75px;
      }
    @media screen and (min-width: $desktop-less) {
        bottom: 100px;
        right:100px;
      }


}

.btn-scroll:hover {
    background-color: #1c19be;
    
   
}