.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

// =========LOGO=============
.logo {
    font-family: $font-main;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.78px;
    color: $color-black-primary;
}

.navigation-menu {
    display: none;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 50px;
        margin-right: 95px;
        list-style-type: none;

        // @media (min-width: 1200px) {
        //     margin-right: auto;
        // }
    }

    &__link {
        text-decoration: none;
        font-family: inherit;
        color: inherit;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.172;
        letter-spacing: 0.02em;
        text-align: start;
        text-transform: none;
        color: inherit;
        padding-top: 32px;
        padding-bottom: 32px;

        &:hover,
        &:focus {
            color: #2196f3;
        }
    }

    @media (min-width: 480px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    @media (min-width: 768px) and (min-width: 1200px) {
        margin-left: 93px;
        flex-grow: 1;
    }
}

// .button-wrapper {
//     display: flex;
//     gap: 14px;
//     align-items: center;

// }


.button-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    fill: $color-black-primary;

    @media (min-width: 768px) {
        display: none;
    }
}

// ============= Mobile-Menu =================
.button-close {
    position: absolute;
    top: 28px;
    right: 16px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    fill: $color-black-primary;

}

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transform: translateY(-100%);
    transition-property: transform, opacity, visibility;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;

    transform: translateY(0);
    transition-property: transform, opacity, visibility;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container__wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        max-width: 100%;
    }
}

.mobile-menu__list {
    margin-bottom: auto;
    list-style-type: none;
}

.mobile-menu__item {
    display: flex;
}


.mobile-menu__link {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: 0.02em;
    text-align: start;
    text-transform: none;
    color: inherit;

    &:hover,
    &:focus {
        color: #2196f3;
    }

    @media (min-width: 480px) {
        font-weight: 500;
        font-size: 40px;
    }
}

.mobile-menu__link--current {
    color: #2196f3;
}