.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @media screen and (min-width: $tablet-less) {
        // width: $tablet;
        justify-content: flex-start;
    }
}

// =========LOGO=============
.logo {
    font-family: $font-main;
    font-weight: 700;
    font-size: 24px;
    line-height: 32.78px;
    color: $color-black-primary;

    @media screen and (min-width: $tablet) {
        font-size: 32px;
        line-height: 43.71px;
    }
}

.navbar__items {
    display: none;

    @media screen and (min-width: $tablet) {
        display: flex;
        gap: 32px;
    }
}

.navigation-menu {

    &__list {

        @media screen and (min-width: $tablet) {
            display: flex;
            align-items: center;
            gap: 44px;
            margin-left: 48px;
            gap: 44px;
        }
    }

    &__link {
        text-decoration: none;
        font-family: inherit;
        color: inherit;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.172;
        letter-spacing: 0.02em;
        text-transform: none;
        color: inherit;

        @media screen and (min-width: $tablet) {
            font-weight: 700;
            font-size: 16px;
        }
    }


    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // @media (min-width: 768px) and (min-width: 1200px) {
    //     margin-left: 93px;
    //     flex-grow: 1;
    // }
}

// .navbar__items--right {
// display: flex;

// }

.navbar__items--right {

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        gap: 24px;
    }
}


.button-burger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    fill: $color-black-primary;

    @media (min-width: 768px) {
        display: none;
    }
}

// ============= Mobile-Menu =================
.top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.button-close {
    display: flex;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;
    fill: $color-black-primary;

}

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    transform: translateY(-100%);
    transition-property: transform, opacity, visibility;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;

    transform: translateY(0);
    transition-property: transform, opacity, visibility;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container__wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    min-height: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 480px) {
        max-width: 100%;
    }
}

.mobile-menu__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 68px;
}

.mobile-menu__link {
    display: flex;
    align-items: center;
    gap: 14px;
    padding-top: 6px;
    padding-bottom: 6px;

    text-decoration: none;
    font-family: $font-main;

    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: inherit;


    // @media (min-width: 480px) {
    //     font-weight: 500;
    //     font-size: 40px;
    // }
}

// .mobile-menu__item {}


.mobile-menu__link--current {
    background-color: $color-accent;
    color: $color-white-primary;
}

.menu-container__icon {
    display: flex;
    border: 1px solid $color-white-secondary;
    border-radius: 50%;
}