.pagination {
  margin-top: 60px;
  margin-bottom: 150px;

  &__pages {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }

  &__arrow {
    width: 82px;
    height: 31px;
  }

  &__numbers {
  width: 33px;
  height: 31px;
  }

  &__arrow, &__numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    line-height: 22px;
    background: $color-white-secondary;
    border: 1px solid $color-accent;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background: $color-accent;
      color: $color-white-secondary;
    }
  }
  &__name {
    padding: 4px 10px;
  } 
}

.current {
  background: $color-accent;
  color: $color-white-secondary;
}

.disabled-arrow {
  pointer-events: none;
  background-color: $color-white-secondary;
  opacity: 0.5;
}

