.accordion {
    width: 100%;
}

.read__date{
    font-family: $font-switchers;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: $color-black-primary;
}

.accordion__line{
    margin: 0;
    width: 100%;
    border: 1px solid #929292;
}

.accordion__wrap{
    position: relative;
    margin-top: 60px;
}

.accordion__wrap:last-child{
    margin-bottom: 210px;
}

.accordion__active{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;

}

.read__date{
    position: relative;
    cursor: pointer;
}

.accordion_icon{
    display: block;
    flex-shrink: 0;
    color: #111321;
    overflow: visible;
    transition: transform 0.5ms;
}

.active .accordion_icon{
    transform: rotate(180deg);
}

.content{
    position: relative;
    height: 0;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.accordion__wrap.active .content {
    height:auto;
    overflow: visible;
}
