.search-box {
    position: absolute;
    right: 77px;
    // width: 173px;
    height: 31px;
    border-radius: 20px;
    background-color: #fff;
    // transition: 0.5s ease all;
        // -webkit-transition: all 1s ease;
        // -moz-transition: all 1s ease;
        // -o-transition: all 1s ease;
        // transition: all 1s ease;
// transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);

    @media screen and (min-width: $tablet) {
        position: absolute;
        right: 160px;
        // max-width: 30px;
        // width: 100%;
        height: 31px;
        transition: 0.5s;
        // overflow: hidden;
    }

    @media screen and (min-width: $desktop) {
        right: 332px;
    }
}

.search__input {
    position: relative;
    display: none;
    outline: none;
    border: none;
    height: 100%;
    width: 173px;

    padding: 0px 0px 0px 48px;

    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    color: #333;
    background-color: #fff;

    @media screen and (min-width: $tablet) {
        width: 213px;
        height: 100%;
        color: #111321;
        letter-spacing: .02em;

        border-radius: 20px;
        outline: none;
        padding: 0px 15px 0px 35px;
        font-size: 14px;
    }

    @media screen and (min-width: $desktop) {
        width: 288px;
        height: 100%;
        color: #111321;
        letter-spacing: .02em;

        border-radius: 20px;
        outline: none;
        padding: 0px 15px 0px 35px;
        font-size: 14px;
    }

}


.search-box.active {
    border: 1px solid #111321;
    border-radius: 20px;
    margin-right: -22px
}

.search-box.active .search__input {
    display: inline-block;
}


.search-box__icon{
    position: absolute;
    top: 5px;
    left: 12px;

    display: inline-block;

    padding: 0;
    border-radius: 6px;
    border: none;
    background-color: rgba(28, 28, 28, 0);
}

.search-box__icon-svg .search-box__icon-svg-2{
    // position: absolute;
    display: inline;
    // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


.visually-hidden {
    overflow: hidden;
}

.btn-search{
    position: absolute;
    right:-39px;
    top: 4px;
    background: none;
    border: none;
}

.message-info{

}

.defImg {
    position: absolute;
    
}