.search-box {
    position: absolute;
    right: 54px;
    // width: 173px;
    height: 31px;
    border-radius: 20px;
    background-color: #fff;
    // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    @media screen and (min-width: $tablet) {
        position: absolute;
        right: 138px;
        // max-width: 30px;
        // width: 100%;
        height: 31px;
        transition: 0.5s;
        // overflow: hidden;
    }
}

.search__input {
    position: relative;
    display: none;
    outline: none;
    border: none;
    height: 100%;

    padding: 0px 0px 0px 48px;

    font-size: 12px;
    font-weight: 400;
    border-radius: 20px;
    color: #333;
    background-color: #fff;

    @media screen and (min-width: 768px) {
        width: 213px;
        height: 100%;
        color: #111321;
        letter-spacing: .02em;

        border-radius: 20px;
        outline: none;
        padding: 0px 0px 0px 35px;
        font-size: 14px;
    }
}


.search-box.active {
    // width: 173px;
    border: 1px solid #111321;
    border-radius: 20px;
}

.search-box.active .search__input {
    display: inline-block;
}


.search-box__icon {
    position: absolute;
    top: 5px;
    left: 12px;

    display: inline-block;

    border-radius: 6px;
    background-color: #fff;
}

.search-box__icon-svg {
    // position: absolute;
    display: inline;
    // transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}