.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
}

.navigation-menu {
    display: none;

    &__list {
        display: flex;
        flex-wrap: nowrap;
        gap: 50px;
        margin-right: 95px;
        list-style-type: none;

        // @media (min-width: 1200px) {
        //     margin-right: auto;
        // }
    }

    &__link {
        text-decoration: none;
        font-family: inherit;
        color: inherit;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.172;
        letter-spacing: 0.02em;
        text-align: start;
        text-transform: none;
        color: inherit;
        padding-top: 32px;
        padding-bottom: 32px;

        &:hover,
        &:focus {
            color: #2196f3;
        }
    }

    @media (min-width: 480px) {
        display: none;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
    }

    @media (min-width: 768px) and (min-width: 1200px) {
        margin-left: 93px;
        flex-grow: 1;
    }
}

// .button-wrapper {
//     display: flex;
//     gap: 14px;
//     align-items: center;

// }


.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: white;

    @media (min-width: 768px) {
        display: none;
    }
}

/*Меню-контейнер*/
.mobile-container .button-menu {
    top: 10px;
    right: 15px;
    position: absolute;

    &:hover,
    &:focus {
        color: #2196f3;
        fill: #2196f3;
    }
}

.mobile-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999;

    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    transform: translateX(100%);
    transition-property: transform, opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transform: translateX(0);
}

.mobile-container__wrap {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-right: 40px;
    padding-bottom: 48px;
    padding-left: 40px;

    @media (min-width: 480px) {
        max-width: 100%;
    }
}

.mobile-menu__list {
    margin-bottom: auto;
    list-style-type: none;
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-menu__link {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 21.86px;
    letter-spacing: 0.02em;
    text-align: start;
    text-transform: none;
    color: inherit;

    &:hover,
    &:focus {
        color: #2196f3;
    }

    @media (min-width: 480px) {
        font-weight: 500;
        font-size: 40px;
    }
}

.mobile-menu__link--current {
    color: #2196f3;
}

/*ЗВОРОТНІЙ ЗВ'ЯЗОК (КОНТАКТИ)*/
.header__contacts {
    @media (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}

.mobile-wrapper__contacts {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 40px;
    margin-left: 0;

    @media (min-width: 480px) {
        margin-bottom: 64px;
    }
}

.contacts__link--header {
    text-decoration: none;
    font-family: inherit;
    color: #757575;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &.header-mail {
        font-weight: 400;
        font-size: 25px;

        @media (min-width: 480px) {
            font-size: 28px;
        }

        @media (min-width: 768px) {
            color: #757575;
            margin-bottom: 10px;
            font-size: 12px;
        }

        @media (min-width: 1200px) {
            margin-bottom: 0;
            font-size: 14px;
            text-align: center;
        }
    }

    &.header-tel {
        font-weight: 400;
        font-size: 25px;
        color: #2196f3;
        margin-bottom: 30px;

        @media (min-width: 480px) {
            font-weight: 500;
            font-size: 34px;
        }

        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #757575;
            margin: 0;
            font-size: 12px;
        }

        @media (min-width: 1200px) {
            font-size: 14px;
        }
    }

    &:focus,
    &:hover {
        color: #2196f3;
    }
}

.contacts__icon {
    display: none;

    @media (min-width: 768px) {
        display: block;
        fill: currentColor;
        margin-right: 8px;
    }

    @media (min-width: 1200px) {
        margin-right: 10px;
    }
}

/*Соціальні мережі*/
.mobile-network {
    display: flex;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        font-family: inherit;
        color: inherit;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 400;
        font-size: 12px;
        line-height: 1.222;
        letter-spacing: 0.02em;
        text-align: start;
        text-transform: none;
        color: #2196f3;

        @media (min-width: 480px) {
            font-weight: 500;
            font-size: 18px;
        }
    }

    &__line {
        width: 22px;
        height: 0;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(33, 33, 33, 0.2);
        border-radius: 0;
        transform: rotate(90deg);
    }
}